/* QAPage.css */
.qa-page {
    padding: 20px;
    background-color: #021526; /* Mismo color de fondo oscuro */
    color: #ffffff; /* Texto en blanco */
    font-family: 'Orbitron', sans-serif; /* Fuente futurista */
}

.qa-title {
    font-size: 2.5rem; /* Tamaño grande para títulos */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 20px;
    text-align: center; /* Centra los títulos */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    color: #ffffff; /* Texto blanco puro */
    font-family: 'Montserrat', sans-serif; /* Fuente moderna y legible */
}

.qa-list {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0 20px; /* Espaciado interno para los párrafos */
}

.qa-list li {
    font-size: 1.25rem; /* Tamaño del texto de los párrafos */
    margin-bottom: 10px;
    line-height: 1.5; /* Espaciado entre líneas */
    color: #ffffff; /* Texto blanco */
    text-align: justify; /* Alineación justificada para los párrafos */
}

.qa-list li strong {
    color: #72DBF2; /* Texto destacado en azul */
}
